<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .class { margin: 3px; padding: 2px; border: 2px solod black;
      background-color: black; border-radius: 26px; } a { margin: 2px; padding:
      10px; text-decoration: none; color: white; } a:hover { color: blueviolet;
      } .cl { float: right; margin-top: -19px; margin-right: 55px; border: 2px
      solid white; border-radius: 20px; }
    </style>
  </head>
  <body>

    <header>
      <nav class="class">
        <ul>
          <a href="/">Home</a>
          <a href="/login">Login</a>
          <a href="/register">Register</a>

        </ul>
      </nav>
    </header>
  </body>
</html>